* {
     font-family: "Meiryo UI", sans-serif;
 }

:root {
     color-scheme: light dark;
     --bg-color-light: #fcfcfc;
     --bg-color-dark: #161923;
     --container-color-dark: #0d0f16;
     --container-color-light: #cccccc;
     --font-color-light: #292524;
     --font-color-dark: #BCBDD0;
     --highlight-color-light: #597700;
     --highlight-color-dark: #FFCA57;
 }

body {
    max-width: 600px;
    margin: 40px auto;
    padding: 0 20px;
    color: light-dark(var(--font-color-light), var(--font-color-dark));
    background-color: light-dark(var(--bg-color-light), var(--bg-color-dark));
}

h1 {
    text-align: center;
}

.current {
    background: light-dark(var(--container-color-light), var(--container-color-dark));
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: center;    
}

.current #active-quest {
    font-weight: bold;
    color: light-dark(var(--highlight-color-light), var(--highlight-color-dark));
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    padding: 12px;
    text-align: left;
    background: light-dark(var(--container-color-light), var(--container-color-dark));
}

#th-left {
    border-top-left-radius: 8px;
}

#th-right {
    border-top-right-radius: 8px;
}

.marked {
    font-weight: bold;
    color: light-dark(var(--highlight-color-light), var(--highlight-color-dark));
} 