* {
    font-family: "Meiryo UI", sans-serif;
}

:root {
    color-scheme: light dark;
    --bg-color-light: #fcfcfc;
    --bg-color-dark: #161923;
    --header-color-dark: #0d0f16;
    --header-color-light: #cccccc;
    --font-color-light: #292524;
    --font-color-dark: #BCBDD0;
    --highlight-color-light: #597700;
    --highlight-color-dark: #FFCA57;
}

body {
    max-width: 600px;
    margin: 40px auto;
    padding: 0 20px;
    color: light-dark(var(--font-color-light), var(--font-color-dark));
    background-color: light-dark(var(--bg-color-light), var(--bg-color-dark));
}

h1 {
    text-align: center;
}

.current {
    background: light-dark(var(--header-color-light), var(--header-color-dark));
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: center;
}

.current #active-quest {
    font-weight: bold;
    color: light-dark(var(--highlight-color-light), var(--highlight-color-dark));
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    /* background-color: light-dark(var(--container-color-light), var(--container-color-dark)); */
}

th {
    padding: 12px;
    text-align: left;
    background: light-dark(var(--header-color-light), var(--header-color-dark));
}

#th-left {
    border-top-left-radius: 8px;
}

#th-right {
    border-top-right-radius: 8px;
}

.marked {
    font-weight: bold;
    color: light-dark(var(--highlight-color-light), var(--highlight-color-dark));
}

.rainbow-text {
    max-width: 45rem;
    background-image: linear-gradient(to right,
            #ff7b7b,
            #ffb347,
            #ffe84d,
            #6ee86b,
            #4ddfff,
            #8c7cff,
            #ff7b7b);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    background-size: 200% auto;

    font-weight: bold;
    animation: rainbow 4s linear infinite
}

@keyframes rainbow {
    to {
        background-position: 200% center
    }
}